<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.kuro.campus.mapper.UserMapper">

    <sql id="selectFields">
        `id`,`username`,`create_time`,`address`,`phone`,`enabled`,`avatar`,`admin`,`locked`,
    </sql>

    <select id="loadUserByUsername" resultType="User">
        select <include refid="selectFields"></include>
        from tb_user where username = #{username}
    </select>

    <select id="getRolesById" resultType="Role">
        select `id`, `name`, `describe`
        from tb_role
        where id in (select `role_id` from tb_user_role where user_id = #{id})
    </select>
</mapper>